<% if @question.nil? %>

<h2>Wow, there are no more questions for you to answer. If you're this good, you should probably starting making questions yourself.</h2><h2>You know, for the web dev greater good.</h2>

<% else %>

<h4><%= @question.category.name %> | <%= @question.elo %> ELO</h4>
<h2><%= @question.body %></h2>
<div class="choices">
  <% @question.choices.shuffle.each_with_index do |choice, index| %>
    <%= link_to choice.body, solve_question_path(:id => @question.id, :choice_id => choice.id), :class => "choice choice-#{index}" %>
  <% end %>
</div>

<% end %>